PORT=3000
DB_ADDRESS: mongodb://root:example@mongo:27017/
#DB_ADDRESS=mongodb://127.0.0.1:27017/weblarek
JWT_ACCESS_SECRET=weblarek_access_7f3k9d2m1x8v4n6p2q5r
JWT_REFRESH_SECRET=weblarek_refresh_9h4j2k7m1x5v3n8p6q9r

TEMP_UPLOAD_DIR=./temp
PUBLIC_UPLOAD_DIR=./src/public/images

ORIGIN_ALLOW=http://localhost:5173
AUTH_ACCESS_TOKEN_EXPIRY=10m
AUTH_REFRESH_TOKEN_EXPIRY=7d