PORT=3000
DB_ADDRESS=mongodb://localhost:27017/weblarek

JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key

TEMP_UPLOAD_DIR=./temp
PUBLIC_UPLOAD_DIR=./public/images

ORIGIN_ALLOW=http://localhost:5173
AUTH_ACCESS_TOKEN_EXPIRY=10m
AUTH_REFRESH_TOKEN_EXPIRY=7d